<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUDProdutos</title>

    <!-- imports bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<body>
    <main class="container">
        <div class="row min-vh-100 justify-content-center align-items-center">
            <form method="POST" action="../Repositories/operations.php?q=insert">
            <div class="form-floating mb-2">
                    <input type="fullName" class="form-control" placeholder="Gabriel Victório" name="fullName">
                    <label for="floatingInput">Full name</label>
                </div>
            <div class="form-floating  mb-2">
                    <input type="userName" class="form-control" placeholder="GabrielzinhoTeclados" name="userName">
                    <label for="floatingInput">User name</label>
                </div>
                <div class="form-floating  mb-2">
                    <input type="email" class="form-control" placeholder="name@example.com" name="email">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating  mb-2">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating  mb-4">
                    <input type="password" class="form-control" placeholder="PasswordConfirm" name="passwordConfirm">
                    <label for="floatingPassword">Password Confirm</label>
                </div>
                <input class="btn btn-primary w-100 py-2" type="submit" value="Sign Up">
            </form>
        </div>
    </main>
</body>

</html>